<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>


<IfModule mod_rewrite.c>
RewriteEngine On
# Serve existing files from the "public/storage" directory
RewriteRule ^storage/(.*)$ storage/$1 [L]
# All other requests should be handled by Laravel
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
</IfModule>

# Allow access to the images directory
<Directory "/var/www/html/storage/app/public/listing-images">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted

</Directory>

 <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Header set Access-Control-Allow-Headers "Content-Type"
    </IfModule>


    <FilesMatch "\.(css)$">
        ForceType text/css
    </FilesMatch>
    <FilesMatch "\.(js)$">
        ForceType text/javascript
    </FilesMatch>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    <Directory /public>
    AllowOverride All
</Directory>

</IfModule>
